name: "Auto Image Rebuild"
on:
  schedule: 
    - cron: "0 12 1 * *"
  workflow_dispatch:

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.HUB_USER }}
          password: ${{ secrets.HUB_TOKEN }}

      - name: Build and push Regular Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ github.workspace }}
          push: true
          tags: ${{ secrets.HUB_NAMESPACE }}/${{ secrets.HUB_NAME }}:${{ secrets.HUB_TAG }}

  build-alpine:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.HUB_USER }}
          password: ${{ secrets.HUB_TOKEN }}

      - name: Build and push Alpine Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ github.workspace }}
          push: true
          tags: ${{ secrets.HUB_NAMESPACE }}/${{ secrets.HUB_NAME }}:${{ secrets.HUB_TAG_ALPINE }}
          file: Dockerfile.alpine

  keep-alive:
        runs-on: ubuntu-latest
        env:
          GITHUB_TOKEN: ${{ inputs.GITHUB_TOKEN || github.token }}
        steps:
          - name: Enable current workflow
            shell: sh
            run: |
              case "${GITHUB_WORKFLOW_REF:?}" in
                "${GITHUB_REPOSITORY:?}"/.github/workflows/*.y*ml@*) ;;
                *) false ;;
              esac
              workflow="${GITHUB_WORKFLOW_REF%%@*}"
              workflow="${workflow#${GITHUB_REPOSITORY}/.github/workflows/}"
              gh api -X PUT "repos/${GITHUB_REPOSITORY}/actions/workflows/${workflow}/enable"
